#main {
    color: #000000;
}

body {
    background: #E8E5E7;
}

hr {
    border-color:#845EC2;
}

sup {
    color:blue;
}

.textBodyHeaderNav {
    color: #845EC2;
    background-color: #BCB3B4;
}

.textBodyHeaderNav:hover {
    color: #BCB3B4;
    background-color: #845EC2
}

.textInfoAnnotation {
    color: #858087;
}
