#main {
    color: #000000;
}

body {
    background: #E8E5E7;
}

hr {
    border-color:#C34A36;
}

sup {
    color:blue;
}

.textBodyHeaderNav {
    color: #C34A36;
    background-color: #BCB3B4;
}

.textBodyHeaderNav:hover {
    color: #BCB3B4;
    background-color: #C34A36
}

.textInfoAnnotation {
    color: #858087;
}
