#main {
    color: #000000;
}

body {
    background: #F9EADE;
}

hr {
    border-color:#603F89;
}

sup {
    color:blue;
}

.textBodyHeaderNav {
    color: #603F89;
    background-color: #F3DECD;
}

.textBodyHeaderNav:hover {
    color: #F3DECD;
    background-color: #603F89
}

.textInfoAnnotation {
    color: #74777E;
}
