
#main {
    transition: margin-left .25s;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 3em;
    padding-top: 0;
    min-width: 32em;
    color: var(--text-color);
    transition: 0.25s;
}

.textTitle {
    padding: 0.6em;
    font-size: 200%;
    font-weight: bold;
}

.textInfo {
    display: inline-block;
    padding-left: 1.2em;
    padding-right: 1.2em;
}

hr {
    border: 0.03em solid;
    border-color:var(--chapter-color);
}

.textInfoAnnotation {
    margin-right: 0.6em;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    display: inline-block;
    overflow-wrap: break-word;
    vertical-align: middle;
    color: var(--sub-color);
}

.indexText {
    cursor: pointer;
}

.indexText:hover {
    cursor: pointer;    
    color: #FFFFFF; /* the one and only true color */
    mix-blend-mode: exclusion;
}
