
#main {
    transition: margin-left .25s;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 3em;
    padding-top: 0;
    min-width: 32em;
    color: var(--text-color);
    transition: 0.25s;
}

.textTitle {
    padding: 0.6em;
    font-size: 200%;
    font-weight: bold;
}

#index:before {
    background-image: url(../images/logo512.png);
    content: "";
    position: absolute;
    top: 0; 
    left: 30%;
    width: 40%; 
    height: 40%;  
    opacity: .05; 
    z-index: -1;
    background-size: 100%;
    background-position-y: 50%;
    background-repeat: no-repeat;
}

.textInfo {
    padding-left: 1.2em;
    padding-right: 1.2em;
}

.lastNewsLabel {
    margin-right: 0.6em;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    display: inline-block;
    overflow-wrap: break-word;
    vertical-align: middle;
    text-align: left;
}

hr {
    border: 0.03em solid;
    border-color:var(--chapter-color);
}

.textInfoAnnotation {
    margin-right: 0.6em;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    display: inline-block;
    overflow-wrap: break-word;
    vertical-align: middle;
    text-align: left;
    color: var(--sub-color);
}

.indexText {
    cursor: pointer;
}

.indexText:hover {
    cursor: pointer;    
    color: #FFFFFF; /* the one and only true color */
    mix-blend-mode: exclusion;
}
